table {
  margin-left: 1vw ;
}

#displayData {
  margin-left: 2.5vw;
  width: 90vw;
}

#displayData th {
  text-align: center;
}

#displayData td{
  text-align: center;
}

.product-url {
  min-width: 40vw;
}

.filter {
  margin-left: 2.5vw;
}

.data-container {
  margin: 2rem 4rem;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 3rem;
}

.flex-item input {
  width: 30rem;
}

.flex-item div {
  margin: 1rem 2rem;
}