<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include ("../partials/header.ejs") %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/urlPage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="displayURL.js" async></script>

    <title>Price Scraping Tool</title>
  </head>
  <body>
    <div id="main">
      <div id="button">
        <button id="url">URL</button>

        <form class="logoutform" action="/display">
          <button id="scrapedData">Scraped Data</button>
        </form>

        <form class="logoutform" action="/logout?_method=DELETE" method="POST">
          <button id="logout" method="POST" type="submit">Log Out</button>
        </form>
      </div>

      <div>
        <div id="price">
          <h1>Price Scraping Tool</h1>
          <table id="urlTable">
            <thead>
              <tr>
                <!-- <th id="text1">Homepage Url</th> -->
                <th id="text2">Profile</th>
              </tr>
            </thead>
            <tbody>
              <tr id="row">

                <div>
                  <td>
                      <select class="profileInput">
                        <option selected value="default">Select a Company</option>
                        <option value="canAppl">Canadian Appliances</option>
                        <option value="goemans">Goemans</option>
                        <option value="midAppl">Midland Appliance</option>
                        <option value="coastAppl">Coast Appliance</option>
                      </select>
                  </td>
                  <td>
                      <div class="col-xs-12">
                        <progress style="width:100%" value="0" max="100" id="progBar" name ="progBar">
                            <span id="calcProgress">
                                <!-- Fallback goes here  -->
                            </span>
                        </progress>
                      </div>
                  </td>
                  <td>
                    <div id="progUpdate" class="col-xs-12" name ="progUpdate">
                      <!-- Product Message -->
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
                <td>
                  <button id = "add" onclick="cloneRow()">Add</button>
                </td>
                <td>
                  <div id="lowerButtons">
                    <form id="scraper" action="/scrape/default/default/default" method="get">
                      <button id="scrapeButton">Scrape</button>
                    </form>
                    <button id="progButton" onclick="getProg()">Check Progress</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
